<form action='write' method="POST">
    <table>
        <tr>
            <td colspan="2">Enter one or two lines of text (each max 8 characters) to have them displayed on the LCD </td>
        </tr>
        <tr>
            <td>Text on row 1</td> <td><input type="text" name="row1" value=""/></td>
        </tr>
        <tr>
            <td>Text on row 2</td> <td><input type="text" name="row2" value=""/></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Submit!" /></td>
        </tr>
    </table>
</form>
